p {
    background-color: rgba(255, 140, 0, 0.52);
}
section {
/*    background-image: url(../img/truskawka.jpg);*/
/*
    
    background-repeat: no-repeat;
    background-position: center;*/
    height: 700px;

    background: url(../img/truskawka.jpg) no-repeat center;
    background-size: cover;
}