div#obrazek{
    position: relative;
}

div.square {
  border: solid 50px ;
  width: 0px;
  height: 0px;
  position:relative;
  display: inline-block;
}

div.circle {
  border-radius: 50px/50px;
  border: solid 25px ;
  width: 0px;
  height: 0px;
  position:absolute;
  left:-25px;
  bottom:-25px;
}

div.square.orange{
    border: solid 50px orange;
}
div.square.pink{
    border: solid 50px pink;
}

div.square.green{
    border: solid 50px green;
}

div.square.purple{
    border: solid 50px purple;
}

div.square.grey{
    border: solid 50px grey;
}

div.square.yellow{
    border: solid 50px yellow;
}

div.square.blue{
    border: solid 50px blue;
}

div.square.black{
    border: solid 50px black;
}

div.square.red{
    border: solid 50px red;
}

div.circle.yellow{
    border:solid 25px yellow;
}

div.circle.grey{
    border:solid 25px grey;
}

div.circle.blue{
    border:solid 25px blue;
}

div.circle.black{
    border:solid 25px black;
}

div.circle.purple{
    border:solid 25px purple;
}

div.circle.orange{
    border:solid 25px orange;
}

div.circle.pink{
    border:solid 25px pink;
}

div.circle.green{
    border:solid 25px green;
}

div.circle.red{
    border:solid 25px red;
}

