
div {
    width:200px;
    height: 100px;
}

#predefiniowane{
    background-color:red; 
    
}

#hex{
    background-color:#ffff00;     
}
#short-hex{
    background-color: #0ff;    
}

#rgb{
    background-color: rgb(0,255,0);
}
#rgba{
    background-color: rgba(0,0,255,0.5)
}

*{
    background-color: yellow;
}










