p{
    color:red;
}

#container{
    color:blue;
}


.list-item{
    color:green;
}

section h2{
    color:orange;
}

section > h2{
    color:yellow;
}

.first-item + li {
    color:chartreuse;
}

.first-item ~ li {
    color:gold;
}

p.first#main {
   color:gainsboro;
}