a[title]{
    font-size: 32px;
}



a[title="Main page"]{
    
    color:red;
}





a[title~="me"]{
    color:yellow;
}

a[title*="tion"]{
    color: pink;
}

a[title^="Container"]{
    color:green;
}


a[title$="skills"]{
    color:black;
}









